.button{
    color: #ffffff;
    border: 2px solid #ffffff;
    background-color: #8A2BE2;
    border-radius: 0;
    font-size: 18px;
    padding: 10px 50px;

    background: linear-gradient(to right, #8A2BE2  50%,  #1D1D1D 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-in-out;
}

.button:hover{
    /* background-color: #2b1055; */
    color: #ffffff;
    border: 2px solid #ffffff;
    background-position: left bottom;
    /* transition: background-color 0.5s ease-in-out; */
}

.button:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid #ffffff;
}