.info-title{
    color: #8d8d8d;
}
.info-item{
    margin: 15px 0px;
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

.left-div{
    margin-right: 5px;
}
.right-div{
    margin-left: 5px;
}
