.big-fake{
    font-family: 'Libre Baskerville', serif;
    position: absolute;
    left: 48vw;
    z-index: -1;
    font-size: 20rem;
    color: rgba(255, 255, 255, 0.04);
    font-weight: 700;
    /* overflow: hidden; */
}
@media (max-width:992px){
    .big-fake{
        font-size: 15rem;
        left: 30vw;
    }
}

@media (max-width: 576px){
    .big-fake{
        display: none;
    }
}

.image{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;

}

.project {
    position: relative;
    width: 100%;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    cursor: pointer;
}

.project-title{
    font-weight: 600;
    font-family: 'Playfair Display', serif;
}

.badge-skill{
    background-color: grey !important;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background: rgba(0, 0, 0, 0.3); */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
}

.project:hover .overlay {
    opacity: 1;
  }

  .text {
    padding-left: 10px;
    color: white;
    font-size: 20px;
    position: absolute;
    width: 100%;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: start;
  }