.txt-blue{
  color: #08FDD8;
}

.section-heading{
    font-family: 'Playfai Display', serif;
    font-weight: 600;
    font-size: 50px;
}

@media (max-width: 768px){
  .section-heading{
    font-size: 30px;
  }
}

canvas {
  position: absolute;
}

.loading {
  padding: 10px;
  transform: translate3d(-50%, -50%, 0);
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
